
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
  }
body {
  font-family: Verdana, sans-serif;
}
/* .mySlides {display: none;} */
#navbar{
  width: 100%;
  position: fixed;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}
#zara{
  font-size:30px;
  cursor:pointer;
  color:black;
}
#zaraImage {
  vertical-align: middle;
  width: 207px;
  height: 87px;
}
#zaraLogo{
  margin-left: 55%;
}

#zara{
  font-size:30px;
  cursor:pointer;
  color:black;
  display: flex;
}
#navbarRight{
  display: flex;
}
#NavbarSearch{
  margin-right: 100px;
  border-bottom: 1px solid black;
  height: 25px;
  width: 130px;
}
#navbarRight div{
  margin-left: 20px;
}

/* // Index page css */
#header{
 position: fixed;
 width: 100%;
}

#sideBar{
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: black;
  transition: 0.5s;
  padding-top: 60px;
}
/* .sideBArNav{
  display: flex;
  flex-direction: row;
} */
#SideBar-hearder{
  display: flex;
  padding: 10px;
}
#SideBar-hearder div{
  margin: 7px;
}
.SideBar-listItem{
  margin-top:  70px;
}
.SideBar-listItem>ul{
  padding: 20px;
  font-size: 12px;
}
.SideBar-listItem>ul>li>a{
  color: black;
  text-decoration: none;
}
.SideBar-listItem>ul>li{
 margin-top: 2px;
}

/* //slide show things */
#mainContent{
  padding-top: 12%;
  width: 100%;
  text-align: center;
}
#slidebar-header{
  display: flex;
  width: 100%;
  justify-content: center;
}
#slidebar-header div{
  margin-left: 25px;
}



/* The dots/bullets/indicators */

.dot{
  height: 15px;
  /* width: 120px; */
  margin: 0 2px;
  color: #343a40;
  /* border-radius: 50%; */
  /* display: inline-block; */
  /* transition: background-color 0.6s ease; */
}



/* Fading animation */
#mainContent {
  animation-name: imgframe;
  animation-duration: 1.5s;
}

@keyframes imgframe {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

