*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#womenData{
    padding: 60px 0px;
    width: 100%;
}
#firstImage ,#image_3,#image_5,#image_7,#image_9,#image_10,#image_11,#image_13{
    width: 100%;
    display: flex;
    justify-content: center;
}
#firstImage div img{
    width: 450px;
    height: 600px;
}
#image_10{
    margin: 40px 0px;
}
#AppendDiv{
    margin-left: 40px;
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 510px; */
    /* height: 700px; */
}
#img-nameAndPrice{
    display: flex;
    /* border: 1px solid magenta; */
    justify-content: space-between;
    font-size: 13px;
}

#DressName{
 /* margin-right: 90px; */
 /* margin-left: 40%; */
 /* border: 1px solid red; */
}
#DressPrice{
    /* flex: 1; */
    /* border: 1px solid gray; */
}
#imageId{
    /* width: 490px ; */
}
#twoImage,#image_4{
    width: 100%;
    margin: 60px 0px;
    justify-content: center;
   display: flex
}
#imgae_4 , #twoImage div{
    margin-left: 40px;
}
 #image_8 , #image_14,#image_15 ,#image_17,#image_18{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
/* #image_4 div:first-child{
    margin-right: 40px;
} */
#image_6{
    margin: 50px 0px;
    width: 100%;
    display: flex;
   justify-content: center;
}
#image_6 div img{
    width: 300px;
    height: 350px;
}

#image_12{
    margin: 40px 0px;
    display: flex;
   justify-content: center;
}
#image_12 div img{
    width: 400px;
    height: 400px;
}

#image_15_right{
    display: flex;
    flex-direction: row;
}
#image_15-left div img{
    width: 600px;
    height: 1140px;
    border: 1px solid red;
}
#image_15_rigth_top #image_15_rigth_bottom{
    display: flex;
}
#image_19{
    display: grid;
    grid-template-columns: repeat(4,22%);
    grid-template-rows: repeat(2,700px);
    gap: 10px;
}
#image_19 div img{
    width: 450px;
    height: 600px;
}
#womens_header{
    padding-top: 5%;
    text-align: center;
    width: 100%;
    height: 30px;
}
#ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
#ul li{
    margin-left: 10px;
    /* border: 1px solid red; */
}
/* #ul li:nth-child{
    margin-left: 0px;
} */
#ul li:hover{
    /* background-color: rgb(0, 0, 0); */
    cursor: pointer;
}